@import url(reset.css);

:root {
	--background-color: #f2f2f2;
	--sedan-card-color: #e28625;
	--suvs-card-color: #006971;
	--luxury-card-color: #004140;
	--text-color: #ffffff;
	--title-font: "Big Shoulders Display", cursive;
	--text-font: "Lexend Deca", sans-serif;
}

.page {
	background-color: var(--background-color);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards-container {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	border-radius: 8px;
}

.card {
	padding: 48px;
	max-width: 327px;
}

.card > *:nth-child(n + 2):not(.btn) {
	padding-bottom: 25px;
}

.card--sedan {
	background-color: var(--sedan-card-color);
	border-radius: 8px 8px 0 0;
}

.card--suvs {
	background-color: var(--suvs-card-color);
}

.card--luxury {
	background-color: var(--luxury-card-color);
	border-radius: 0 0 8px 8px;
}

.card--sedan .card__logo::before {
	content: url(../images/icon-sedans.svg);
}

.card--suvs .card__logo::before {
	content: url(../images/icon-suvs.svg);
}

.card--luxury .card__logo::before {
	content: url(../images/icon-luxury.svg);
}

.card__title {
	font-family: var(--title-font);
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--background-color);
	padding-top: 35px;
}

.card__text {
	font-family: var(--text-font);
	font-size: 0.9375rem;
	font-weight: 400;
	color: var(--text-color);
	line-height: 167%;
	mix-blend-mode: normal;
	opacity: 0.75;
}

.btn {
	display: inline-block;
	padding: 12px 32px;
	border: 2px solid transparent;
	background-color: var(--background-color);
	border-radius: 25px;
	font-family: var(--text-font);
	font-size: 0.9375rem;
	transition: 0.6s;
}

.btn--sedan {
	color: var(--sedan-card-color);
}

.btn--suv {
	color: var(--suvs-card-color);
}

.btn--luxury {
	color: var(--luxury-card-color);
}

@media (min-width: 920px) {
	.cards-container {
		grid-template-rows: 1fr;
		grid-template-columns: repeat(3, 1fr);
		height: initial;
	}

	.card {
		max-width: 307px;
	}

	.card--sedan {
		border-radius: 8px 0 0 8px;
	}

	.card--luxury {
		border-radius: 0 8px 8px 0;
	}

	.btn {
		margin-top: 58px;
	}

	.btn:hover {
		background-color: transparent;
		border: 2px solid var(--text-color);
		color: var(--text-color);
		transition: 0.6s;
	}
}
